<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".Aplikacja"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiraganaAndKatakana">

        <activity android:name=".LanguageSelectionActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />

        <activity android:name=".HiraganaBasic.HiraganaBasicSenteces" android:exported="false" />
        <activity android:name=".HiraganaBasic.HiraganaBasicCharacters" android:exported="false" />
        <activity android:name=".HiraganaBasic.HiraganaBasicWords" android:exported="false"/>
        <activity android:name=".HiraganaBasic.WidokBasicHiragana" android:exported="false" />

        <activity android:name=".KatakanaBasic.WidokBasicKatakana" android:exported="false" />
        <activity android:name=".KatakanaBasic.KatakanaBasicWords" android:exported="false"/>
        <activity android:name=".KatakanaBasic.KatakanaBasicSentences" android:exported="false"/>
        <activity android:name=".KatakanaBasic.KatakanaBasicCharacters" android:exported="false"/>
        <activity android:name=".KatakanaBasic.KatakanaBasicCharacters" android:exported="false"/>
        <activity android:name=".KatakanaBasic.KatakanaBasicSentences" android:exported="false"/>

        <activity android:name=".HiraganaPremium.WidokPremiumHiragana" android:exported="false" />
        <activity android:name=".HiraganaPremium.HiraganaPremiumSentences" android:exported="false"/>
        <activity android:name=".HiraganaPremium.HiraganaPremiumWords" android:exported="false"/>
        <activity android:name=".HiraganaPremium.HiraganaPremiumCharacters" android:exported="false"/>

        <activity android:name=".KatakanaPremium.WidokPremiumKatakana" android:exported="false" />
        <activity android:name=".KatakanaPremium.KatakanaPremiumWords" android:exported="false"/>
        <activity android:name=".KatakanaPremium.KatakanaPremiumSentences" android:exported="false"/>
        <activity android:name=".KatakanaPremium.KatakanaPremiumCharacters" android:exported="false"/>

        <activity android:name=".PoczatekHiraganaKatakana" android:exported="false" />
        <activity android:name=".WyborPoziomu.WyborPoziomuKatakana" android:exported="false" />
        <activity android:name=".Slowa.SlowaKatakana" android:exported="false" />
        <activity android:name=".Slowa.SlowaHiragana" android:exported="false" />


        <activity android:name=".CharacterSelectionActivity" android:exported="false"/>
        <activity android:name=".WybraneZnakiPremium" android:exported="false"/>
        <activity android:name=".Probny" android:exported="false"/>
        <activity android:name=".HiraganaDialog" android:exported="false"/>
        <activity android:name=".Test" android:exported="false"/>

    </application>
</manifest>